@model IList<FinePolicyViewModel>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
@{
    ViewData["Title"] = "Fine Policy List";
}
<h1>Fine Policy Information list</h1>
<hr />
@if (TempData["msg"] != null) {
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<div>   <a href="/FinePolicy/Entry" class="btn btn-info" role="button">Create</a></div>
<div class="container">
    <div style="margin:0 auto;">
        <table id="FinePolicyTable" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Rule</th>
                    <th scope="col">Fine After Minutes</th>
                    <th scope="col">FineAmount(MMK)</th>
                    <th scope="col">Apply Rule</th>
                    <th scope="col">Bath</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr scope="row">
                        <td>@item.Name</td>
                        <td>@item.Rule</td>
                        <td>@item.FineAfterMinutes</td>
                        <td>@item.FineAmount</td>
                        <td>@item.IsEnable</td>
                        <td>@item.Batch.Name</td>
                        <td><a href="/FinePolicy/Edit?Id=@item.Id" class="btn btn-success" role="button">Edit</a></td>
                        <td><a href="/FinePolicy/Delete?Id=@item.Id" onclick="return confirm('are you sure to delete this recrod?')" class="btn btn-danger" role="button">Delete</a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
}
<script>
    $(document).ready(function () {
        $('#FinePolicyTable').dataTable({
        });
    });
</script>