@model IList<StudentViewModel>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Student List</title>
</head>
<h1>Student Information list</h1>
<button class="">Create </button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">NRC</th>
            <th scope="col">Address</th>
             
            <th scope="col">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model) {
            <tr scope="row">
                <td>@s.Code</td>
                <td>@s.Name</td>
                <td>@s.DOB.ToString("yyyy-MM-dd")</td>
                <td>@s.NRC</td>
                <td>@s.Address</td>
                <td><a href="/Student/Edit?Id=@s.Id">Edit</a></td>
                <td><a href="/Student/Delete?Id=@s.Id" onclick="return confirm('are you sure to delete this recrod?')">Delete</a> </td>
     </tr>
        }
    </tbody>
</table>