@model IList<StudentViewModel>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/datatables.bootstrap4.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <title>Student List</title>
</head>
<h1>Student Information list</h1>
@if (TempData["msg"] != null) {
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}
<a href="/Student/Entry" class="btn btn-info" role="button">Create</a>
<table class="table table-striped" id="StudentTable">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">NRC</th>
            <th scope="col">Address</th>
            <th scope="col">Bath</th>
            <th scope="col" colspan="2" style="text-align:center">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model) {
            <tr scope="row">
                <td>@s.Code</td>
                <td>@s.Name</td>
                <td>@s.DOB.ToString("yyyy-MM-dd")</td>
                <td>@s.NRC</td>
                <td>@s.Address</td>
                <td>@s.BathName</td>
                <td><a href="/Student/Edit?Id=@s.Id" class="btn btn-success" role="button">Edit</a></td>
                <td><a href="/Student/Delete?Id=@s.Id" onclick="return confirm('are you sure to delete this recrod?')" class="btn btn-danger" role="button">Delete</a> </td>
     </tr>
        }
    </tbody>
</table>
@section Scripts
    {
    <script src="~/lib/datatables/js/jquery.datatables.js"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
}
<script>
    $(document).ready(function () {
        $('#StudentTable').dataTable({
        });
    });
</script>