@model IList<StudentViewModel>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Student List</title>
</head>
<h1>Student Information list</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">NRC</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model) {
            <tr scope="row">
                <td>@s.Code</td>
                <td>@s.Name</td>
                <td>@s.DOB</td>
                <td>@s.NRC</td>
                <td>@s.Address</td>
     </tr>
        }
    </tbody>
</table>